<!DOCTYPE html>
<html>
<head>
  <style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  </style>
  <title>TinyApp</title>
</head>
<body>

  <% include partials/_headers %>

  <% if (!user_id) {%>
  <p>Please login or register to see your URLs.</p>
  <% } else {%>
  <table style="width:75%">
    <tr>
      <th>Short URL</th>
      <th>Destination Address</th>
      <th>Change Address</th>
      <th>Remove Link</th>
    </tr>

      <% for (var i = 0; i < urls.length;  i++) { %>
      <tr>
        <td><a href="/u/<%= urls[i].shortURL%>"><%= urls[i].shortURL%></a></td>
        <td><%= urls[i].url%></td>
        <td><a href="/urls/<%= urls[i].shortURL %>">Edit me</a></td>
        <td>
        <form method="POST" action="/urls/<%= urls[i].shortURL %>/delete">
        <input type="submit" value="Delete me">
        </form>
        </td>
      </tr>
      <% } %>

  </table>

  <p><a href="/urls/new">Press here to shorten URL</a></p>
  <% }%>
</body>
</html>